body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px #137283 solid;
    border-radius: 20px;
    cursor: pointer;
}